/*Card*/

.card{
    width: 18%;
    margin-left: 3rem;
    margin: 1rem auto 2rem 3rem;
    /* border: 2px solid red; */
    border-radius: 10px;
    box-shadow: 5px 4px 35px 2px rgba(0, 0, 0, 0.11);
    
    float: left; /*So that the contents appear row-wise and change row when necessary without squeezing*/
  }
  
  .card:hover{
    opacity:0.7;
  }
  
  .card-text{
    text-align: center;
    font-size: 75%;
    font-family: 'Poppins';
    font-weight: 500;
  }
  
  .card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 12rem;
  }
  
  .card-body-sec{
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
  }